html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Inceputul editarilor noastre */

.dot { /* Cerc folosit pentru marcare */
  height: 15px;
  width: 15px;
  background-color: #70665c;
  border-radius: 50%;
  display: inline-block;
}

.container_pagina{ /* Alinierea textului  */
	border: 5px solid #ccc;
    margin: 20px 150px;
    background-color: white;
}

.container_pagina article{ /* Marginile textului alaturi de aliniere  si de background pentru text si font */
    margin: 40px 30px 30px 30px;
    line-height: 35px;
    background-color: white;
    font-family: Tahoma;
}

@media screen and (max-width: 1000px){
    .container_pagina {
        margin: 20px 20px 20px 20px;
    }
}

.container_pagina p { /* Font si alinierae si marginea pentru paragrafe */
    font-size: 18px;
    margin-top: 60px;
    font-family: Tahoma;
    text-align: left;
}

.container_pagina hr { /* Pentru o linie orizontala */
    
    margin: 0 20px 0 20px;
}

header{ /* Header cu backgroud */
	background-color:#70665c;
	height: 50px;
	width: 100%;
}
 
header h1 { /* Modificarea headerului h1 */
    font-size: 50px;
    text-align: center;
    color: antiquewhite;
    margin: 14px 0 20px 0;
    font-family: Tahoma;
}



.pozaLeft{ /* Pentru a seta marimea imaginii si asezarea in pagina (in partea stanga)  */
	width: 30%;
	height: 30%;
	padding-left: 10px;
	padding-right: 10px;
	float:left;
}

.pozaRight{ /* Pentru a seta marimea imaginii si asezarea in pagina (in partea dreapta) */
	width: 30%;
	height: 30%;
	padding-left: 10px;
	padding-right: 10px;
	float:right;
}


.sectiune_text_pagina{ /* Modificare aliniera textului si background */
	background-color: grey;
	width: 100%;
    height: auto;

}

.sectiune_text_pagina h2{ /*  Modificarea headerului de tip 2 */
	text-align: center;
	padding-bottom: 20px;
	font-size: 70px;
	font-family: Tahoma;
	letter-spacing: 2px;
	font-weight: bold;
	text-decoration:underline;
}

.sectiune_text_pagina p{ /*  Modificarea textului in paragraf */
	margin: auto;
    width: 100%;
    line-height: 2;
    text-indent: 40px;
	font-size: 18px;
	font-family: Tahoma;
}
 
.sectiune_text_pagina h3{ /* Modificarea header-ului 3*/
padding: 20px 20px;
	font-size: 30px;
}


.ingrosat{ /* Pentru bold  */
	font-weight: bold;
	font-size: 30px;
}

.header_art { /*Culoarea background ului clasei  alaturi de font ul clasei si culoare*/
    background-color:#856647;
    color: white;
    padding: 10px;
    font-size: 30px;
}

.header_art h3{ /* Header de tip 3 */
	padding-left:20px ; 
	font-size: 30px;
}


.sectiune_text_pagina h3{ /* Modificare header de tip 3 */
	padding: 20px 20px;
	font-size: 30px;
}

footer{ /* Footer alaturi de background si aliniere */
	width: 100%;
	background-color: #70665c;
	padding: 50px 0px;
	text-align: center;
	font-size: 15px;
	color: white;

}