* {box-sizing: border-box;}


html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin: 0px;
    width: 100%;
    min-height: 100%;
    background-color: #70665c;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Inceputul editarilor noastre */

@font-face{
	font-family: font_nou;
	src:url("../font/love.ttf");
    
    font-family: 'Calibri';
    src: url("microsoft.com/typography/fonts/family.aspx");

}

.container{
	width: 90%;
	margin: 0 auto;
	line-height:normal;
	line-height:28px;
}

header{
	background-color:#70665c;
	width: 100%;
}

header h1 {
    font-size: 50px;
    text-align: center;
    color: antiquewhite;
    margin: 14px 0 14px 0;
    font-family: Tahoma;
}

div img{
	width: 100%;
	height: 450px;
}

#poza{
	width: 30%;
	padding-left: 10px;
	padding-right: 10px;
}

nav{
float: left;
}

nav ul{
	margin-top:10px;
}

nav ul li{
	display: inline-block;
	margin-left: 300px;
}

a{
	color:white;
	text-decoration: none;
}
nav ul li a{
	font-family: Arial;
	font-size: 25px
}

.sectiune_text{
	background-color: grey;
	width: 100%;
    height: auto;
    text-align: center;
}

.sectiune_text h2{
	text-align: center;
	padding-bottom: 20px;
	font-size: 70px;
	font-family: font_nou;
	letter-spacing: 2px;
	font-weight: bold;
	text-decoration:underline;
}

.sectiune_text p{
    margin: auto;
    width: 100%;
    line-height: 2;
    text-indent: 40px;
	font-size: 25px;
	font-family: Arial;
}

#ingrosat{
	font-weight: bold;
	font-size: 30px;
}
.subpar h1{
	padding-left:20px; 
}

.articole{
width: 100%;
background-color: yellow;
padding:30px 0px;
overflow: hidden;
}
.articole article{
	width: 25%;
	background-color: green;
}


.articole article h2{
	text-align: center;
	padding:10px,2px;
}

.subpar {
    background-color:#856647;
    color: white;
    padding: 10px;

} 
.sectiune_text h3{
	padding: 20px 20px;
	font-size: 30px;

}

footer{
	width: 100%;
    height: 20px;
	background-color: #70665c;
	padding: 50px 0px;
	text-align: center;
	font-size: 15px;
	color: white;
    bottom: 0;

}


/*Dorian*/

content{
    width: 100%;
    background-color: #70665c;

}


.topnav {
    z-index: 1;
    overflow: hidden;
    background-color: #70665c;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: gray;
    color: white;
}




.top {
    display: inline-block;
    position: relative;
}

.top-img {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.responsive {
    width: 100%;
    height: 300px;
    color: black;
}

.top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 20%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: black;
    font: serif;
}

.main {
    margin-top: 44px;
}

.top-form {
    float: center;
    margin-top: 4px;
    width: 100%;
    
}

.search {

    padding: 8px 15px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
}

.button {
    position: relative;
    padding: 6px 15px;
    left: -8px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.button:hover {
    background-color: #fafafa;
    color: #207cca;
}

input [type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input [type=text]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    widows: 100%;
    opacity: 0.9;
}

.buton-formular:hover {
    opacity: 1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn, .adaugabtn {
    float: left;
    width: 50%;
}

.containter {
    padding: 16px;

}

.container p{
    
    width: 200%;
    font-size: 20px;
    text-align: center;
    
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px){
    
    .cancelbtn, .adaugabtn {
        width: 100%;
    }
    
}

.signup-form {
    margin-left: 25%;
    margin-right: 25%;
    width: auto;
    background-color: white;
}

.signup-input {
    
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.articol {
    border: 5px solid #ccc;
    margin: 20px 20px 20px 20px;
    background-color: white;
}

.articol hr {
    
    margin: 0 20px 0 20px;
}
.articol article{
    margin: 20px 20px 20px 20px;
    line-height: 25px;
    background-color: white;
    font-family: Tahoma;
}

.articol img {
    height: auto;
    width: 50%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle
}

.test-btn, test-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align-last: center;
    cursor: pointer;
    white-space: nowrap;
}

.test-btn:hover {
    box-shadow: 0 8px 16px 0 rgba (0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.test-btn, .test-button {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}

.black-btn {
    color: #fff!important;
    background-color: #000!important;
}

.left-display-btn {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform:translate (-0%, -50%);
}

.right-display-btn {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate (-50%, 0%);
}

/**/