<!DOCTYPE html>
<html lang="ro">
    
    <head>
        <title>Adauga Eveniment</title>
        <link rel="stylesheet" type="text/css" href="../styles/adauga.css">
        
        
    </head>
    
<body>
    
    <a href="../templates/index.html"><button type="button" style="background-color: red;"> Inapoi
    </button>
    </a>
    
    <form style="border:0px solid #ccc">
        <div class="container">
            <h1>Adauga Eveniment</h1>
            <p>Descrie in cateva cuvinte ce s-a intamplat.</p>
            <hr>
            
            <input id="nume" class="input" type="text" placeholder="Numele" name="nume" required>
            <br>
            
            <input id="prenume" class="input" type="text" placeholder="Prenume" name="prenume" required>
            <br>
            
            <input id="adresa" class="input" type="text" placeholder="Adresa" name="adresa" required>
            
            <input id="oras"class="input" type="text" placeholder="Oras" name="oras" required>
            
            <input id="sesizari" class="input" type="text" placeholder="Sesizari" name="sesizari" required>
            
            <input id="descriere" class="input" type="text" placeholder="Descriere" name="descriere" style="height: 100px;" required>
            
            <br>
            <input type="file" id="imagini" name="imagini" accept=".jpg, .jpeg, .png" multiple>
            <br>
            <br>
            
            
            <div class="clearfix">
                
                
                <button type="submit" class="adaugabtn">Adauga</button>
                
            </div>
            <br>
            
        </div>
    
    </form>
    
</body>    
    
</html>