<!DOCTYPE html>
<html lang="ro">
		<head> <!-- Titlul -->
	
	<meta charset="utf-8">
	<title>CriC</title>
	<link rel="stylesheet" type="text/css" href="../styles/cutremure.css">
	<link rel="stylesheet" type="text/css" href="../styles/style.css"> <!-- Folosec acest css pentru meniu -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
            
	
		</head>
<body>
 	
 	<div class="topnav"> <!-- Meniul cu link-uri pe alte pagini -->
 			<a href="../index.php">Acasa</a>
            <a href="../templates/inundatii.html">Inundatii</a>
            <a class="active" href="../templates/cutremure.html">Cutremure</a><!-- Cutremur este activ cand te aflii pe pagina Cutremure  -->
            <a href="../templates/incendii.html">Incendii</a>
            <a href="../templates/arhiva.php">Arhiva</a>
            <a href="../templates/new-harta.php">Harta</a>
            <a href="../templates/adauga.html" class="button" style="color: white;font-size: 15px;width: 170px;margin-left: 5px;">+Adauga Eveniment</a>
         
            <form id="searchBtn" class="top-form" action="../templates/search-map.html" method="GET">
                <input id="textSearch" class="search" type="text" name="city" placeholder="Cauta Oras..." required >
                <input class="button-top" type="submit" value="Cauta">
                <script src="../scripts/search-autocomplete.js" defer></script>
            </form>
 	</div>

<div class="main"> <!--Clasa main pentru margine sus-->

 	<div class="top"> <!-- Pentru a pune imaginea in top -->
 			<img src="../images/CutremureTop2.jpg" class="responsive" alt="P1"> <!-- Imaginea de sus -->
 	</div>

 			<header>
    			<h1>Cutremure</h1>
			</header>
	<br>
 <div class="sectiune_text_pagina"> <!--Pentru background si headere-->
     <br>
     <div class="container_pagina"><!--Pentru background si text si imagine -->
         
         <article class="mySlides">

 		<h3 class="header_art">Ce sunt cutremurele ?</h3><!-- Subparagraf  -->
 		<br>
 		<div class="pozaRight">
 			<img src="../images/CutremureTop1.jpg" alt="P1"> <!-- Prima poza aliniata la dreapta --> 
 		</div>
 		<br>
 		<p> <!-- Paragrafe -->
 			Cutremur sau seism sunt termenii folosiți pentru mișcările pământului, ce constau în vibrații generate în zonele interne ale Terrei, propagate în formă de unde prin roci. Aceste vibrații rezultă din mișcările plăcilor tectonice,
 			fiind des cauzate de o activitate vulcanică.
			</p><p>
			Cuvântul cutremur este folosit doar pentru acele mișcări ale plăcilor tectonice care provoacă daune majore, seism sau mișcări seismice pentru cele care trec neobservate și mișcări non-seismice pentru cele provocate de om.
			</p><p>
			Prin studiul cutremurelor, la observatoarele seismice răspândite pe glob, cu ajutorul unui aparat de înregistrare a cutremurului s-a constatat că aceste mișcări ale scoarței pământului au un centru în adâncime de propagare circulară a undelor seismice. Punctul de la suprafață, (situat deasupra hipocentrului), în care se măsoară intensitatea cutremurului este numit epicentru. De aceea intensitatea cutremurului este definită nu numai de intensitatea și direcția de propagare a undelor, ci și de profunzimea hipocentrului (adâncimi măsurate până la 700 km). Intensitatea cutremurului, măsurată în epicentru, va fi cu atât mai mare cu cât hipocentrul este mai aproape de suprafață. La un cutremur se pot deosebi mișcări orizontale, verticale și de torsiune. În funcție de cauzele care le produc, se deosebesc: cutremure tectonice, cutremure vulcanice și cutremure de prăbușire.
			<br><br><br>
 		</p>

 		<h3 class="header_art">Originea cutremurelor</h3><!-- Subparagraf  -->
 		<br>
 		<div class="pozaLeft">
 			<img src="../images/cutremurdreapta.png" alt="P2"><!-- Poza  -->
 		</div>
 		<br><br><br>
 		<p><!-- Paragraf  -->
 			Distribuția neuniformă a seismelor își găsește explicația în teoria plăcilor tectonice, conform căreia învelișul extern rigid al Pământului este format din 15 plăci tectonice mobile, de 60-100 km grosime, pe unele dintre carese află și continentele.
 			</p><p>
 			Aceste plăci litosferice plutesc pe astenosferă, stratul de suprafață semitopit al mantalei Pământului, și sub acțiunea curenților de convecție din manta se deplasează extrem de lent, cu o viteză de până la 12 cm pe an. 
 			</p><p>
 			La marginile dintre plăci mișcarea este frânată de forța de frecare dintre ele, astfel că în aceste locuri se acumulează tensiuni enorme. Atunci când rocile care intră in contact se rup sau alunecă brusc, se produce o degajare sub formă de unde seismice a energiei acumulate, adică se produce cutremurul propriu-zis.
 			
 		</p>	
		<br><br><br><br><br>
 		<h3 class="header_art">Producerea cutremurelor</h3><!-- Subparagraf  -->
 		<br>	
 		<p><!-- Paragraf  -->
 			În momentul în care se declanșează cutremurul, din epicentru, adică din punctul situat deasupra vetrei cutremurului, vor porni unde de șoc. Primele valuri care vor porni se numesc unde primare sau unde P. Acestea sunt valuri longitudinale, care se propagă asemănător cu undele sonore: produc mișcări în sens înainte – înapoi, în direcția de propagare. Undele primare sunt urmate de undele secundare, sau undele S. Sub efectul acestora, rocile se vor zgudui perpendicular pe direcția de mers. Al treilea tip de unde, undele de suprafață, provoacă unduirea solului și accentuează efectul distrugător al undelor secundare .
			</p>
			<div class="pozaRight">
				<img src="../images/CutremureRight1.jpg" alt="P3"></div><p>
			Unda P : </p><p>
			<span class="dot"></span> <!-- Pentru a pune un cerculet(dot) .  -->
			este o undă longitudinală, de compresie</p><p>
			<span class="dot"></span>
			determină mișcarea particulelor solului paralel cu direcția de propagare</p><p>
			<span class="dot"></span>
			unda se deplasează prin compresie-dilatare în direcția de mers
			</p><p><!-- Poza  -->
			<span class="dot"></span>
			amplitudinea acestei unde este direct proporțională cu magnitudinea (energia cutremurului)</p><p>
			<span class="dot"></span>
			este percepută la suprafață de către oameni ca pe o săltare, un mic șoc în plan vertical</p><p>
			<span class="dot"></span>
			nu este periculoasă pentru structuri (clădiri) deoarece conține (transportă) aproximativ 20% din energia totală a cutremurului</p><p>
			Unda S : </p><p>
			<span class="dot"></span>
			este o undă transversală, de forfecare</p><p>
			<span class="dot"></span>
			determină mișcarea particulelor solului perpendicular (transversal) față de direcția de propagare</p><p>
			<span class="dot"></span>
			deplasarea acestei unde este similară cu înaintarea unui șarpe (mișcări ondulatorii stânga-dreapta față de direcția de înaintare)</p><p>
			<span class="dot"></span>
			este resimțită la suprafață sub forma unei mișcări de forfecare, de balans în plan orizontal</p><p>
			<span class="dot"></span>
			este periculoasă, deoarece transportă aproximativ 80% din energia totală a cutremurului</p><p>
			<span class="dot"></span>
			determină distrugeri proporționale cu magnitudinea cutremurului și cu durata de oscilație</p><p>
			<span class="dot"></span>
			clădirile cad datorită intrării în rezonanță a frecvenței proprii de oscilație a structurii clădirii cu frecvența undei incidente, în acest caz efectul distructiv fiind puternic amplificat .
 		</p>

 		 </article>
 	</div>
 <br>
 </div>
 	<footer> <!-- Footer  -->
 		<h1><u>&copy;Tehnologii Web</u></h1>
 		<br>
 	</footer>	

 </div>

</body>
</html>