<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="Crisis Containment Service">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Incendii</title>
    
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/incendii.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    
    <script type="text/javascript" src="../scripts/sidebar.js"></script>
    
</head>
<body>


    <!-- Meniul -->
    <div class="topnav" >
        <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Meniu</span>
        
          <form id="searchBtn" class="top-form" action="../templates/search-map.html" method="GET">
                <input id="adresa" class="search" type="text" name="city" placeholder="Cauta Oras..." required >
                <input class="button-top" type="submit" value="Cauta">
            </form>
    </div>
    
     <div class="sidenav" id="meniu">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="active" href="../index.php">Acasă</a>
            <a href="../templates/inundatii.html">Inundații</a>
            <a href="../templates/cutremure.html">Cutremure</a>
            <a href="../templates/incendii.html">Incendii</a>
            <a href="../templates/arhiva.php">Arhivă</a>
            <a href="../templates/new-harta.php">Hartă</a>
            <a href="../templates/adauga.html" class="button" style="color: white;font-size: 20px;width: 100%;">+ Adaugă Eveniment</a>
        </div>

	<!--Imagine sus -->
	<div>
		<img class="banner" src="../images/incendii_banner.jpg" alt="Imagine de coperta"> 

	</div>	

	<!-- Titlul paginii -->

	<header>

		<p>Incendii</p>

	</header>
	<br>

	<!-- Informatiile din pagina -->

	<div class="sectiune_text_pagina">
		<div class="articol">
			<br><br>
			<article class="mySlides">

				<!-- Efectele incendiilor -->

				<h3 class="subpar">Efecte</h3><br>
				<img id="poza1" alt="Efecte" src="../images/incendii_efecte.jpeg" /> 

				<p> Variabilitatea climatică, cu toate componentele sale, valorile extreme ale temperaturii și lipsa precipitațiilor pe parcursul unor perioade de secetă favorizează expunerea la incendii a culturilor agricole, depozitelor de furaje, zonelor cu vegetaţie forestieră, locuinţelor ș.a. </p>
				<p> Efectele asupra solului depind de tipul și conținutul de umiditate al solului. Pe soluri uscate și cu textură grosieră incendiile lasă un strat hidrofob în sol (prin acumularea unor substanțe chimice, rezultate din vegetația arzândă, în stratul inferior al litierei).

				În urma unui incendiu, prin dispariția vegetației, se intensifică șiroirea, eroziunea, mai cu seamă în arealele susceptibile în mod natural la eroziune. De asemenea crește hazardul la inundații. După un incendiu, bazinele hidrografice cunosc un potențial mai ridicat la eroziune și inundații. La precipitații ridicate sau furtuni are loc îndepărtarea compușilor minerali și depunerea lor în lacuri de acumulare menite să asigure alimentarea cu apă a oamenilor. </p>
				<p> Efectele asupra mediului atmosferic. În părțile Globului unde fenomenul de încălzire globală se manifestă prin prezența unui climat mai cald, mai uscat și cu vânturi mai frecvente crește și intensitatea și frecvența incendiilor. </p>
				<p> Există și efecte indirecte cum ar fi creșterea temperaturii solului expus la radiațiile solare ca urmare a pierderii covorului vegetal; astfel sunt alterate habitatele.

					Fumul produs de incendii afectează sănătatea umană, cauzând afecțiuni ale ochilor, pielii și la nivel respiratoriu.

				Nu în ultimul rând, incendiile prezintă un potențial de distrugere al proprietății private, mai ales în spațiul de interferență seminatural/urban. </p>
				<br>

				<!-- Cauzele incendiilor -->

				<h3 class="subpar">Cauze</h3><br>
				<img id="poza2" alt="Cauze" src="../images/incendii_cauze.jpg" /> 

				<p> Pentru a putea izbucni un incendiu prima condiție este existența unui material combustibil. Apoi, acest material trebuie încălzit deasupra punctului său de aprindere. </p>
				<p> Cauzele incendiului pot fi: </p>
				<p> 
					- de natură tehnică, instalații electrice necorespunzătoare, defecte.
					<br>
					<span class="lista">- neglijență, frecvent produsă de focuri de tabără, țigări, chibrituri, lumânări nestinse corect.</span>
					<br>
					<span class="lista">- naturale (fulger), sau autoaprinderea a unor substanțe care ajung în contact cu oxigenul.</span>
					<br>
					<span class="lista">- aparate de încălzit, cazane, cuptoare, aparate de gătit, sobe, uscătoare, dispozitive pentru sudură, etc.</span>
					<br>
					<span class="lista">- foc în aer liber.</span>
					<br>
					<p>Aceste cauze duc la incendii sau explozii urmate de incendii.
					</p>
					<br>

					<!-- Prevenirea incendiilor -->

					<h3 class="subpar">Prevenire</h3><br>
					<p>
						<p> Prevenirea incendiilor reprezintă totalitatea acțiunilor de împiedicare a inițierii și propagării incendiilor, de asigurare a condițiilor pentru salvarea persoanelor și bunurilor și de asigurare a securității echipelor de intervenție. În România apărarea împotriva incendiilor constituie o activitate de interes public, național, cu caracter permanent, la care trebuie să participe autoritățile administrației publice centrale și locale, precum și toate persoanele fizice și juridice aflate pe teritoriul țării. </p>

						<p class="ingrosat"> 1. Obligatii </p>

						<p> Persoanele fizice și juridice sunt obligate să respecte reglementările tehnice și dispozițiile de apărare împotriva incendiilor și să nu primejduiască, prin deciziile și faptele lor, viața, bunurile și mediul. Persoana care observă un incendiu are obligația să anunțe prin orice mijloc serviciile de urgență, primarul sau poliția si să ia măsuri, după posibilitățile sale, pentru limitarea și stingerea incendiului.

						În caz de incendiu, orice persoană trebuie să acorde ajutor, când și cât este rațional posibil, semenilor aflați în pericol sau în dificultate, din proprie inițiativă ori la solicitarea victimei, a reprezentanților autorităților administrației publice, precum și a personalului serviciilor de urgență. În cazul incendiilor produse la păduri, plantații, culturi agricole, miriști, pășuni și fânețe, persoanele aflate în apropiere au obligația să intervină imediat cu mijloacele de care dispun, pentru limitarea și stingerea acestora. </p>
						
						<p class="ingrosat">2. Scop </p>
						
						<p> - asigurarea respectării prevederilor legale si a celorlalte reglementari privind apărarea împotriva incendiilor si protecție civilă.
							<br>
							<span class="lista"> - identificarea, evaluarea, pericolelor potențiale si a consecințelor pentru viata oamenilor, mediu si bunuri materiale. </span>
							<br>
							<span class="lista"> - conștientizarea riscurilor prin schimbul reciproc de informații între personalul care executa controlul de prevenire, factorii de decizie, personalul angajat si alte persoane interesate si/sau implicate. </span>
							<br>
							<span class="lista"> - informarea populației privind pericolele potențiale de risc, inclusiv în locuințe si gospodarii, si modul de comportare în caz de incendiu si în alte situație de urgență. </span>
						</p>
						
						<p class="ingrosat">3. Forme </p>
						
						<p> - reglementarea.
							<br>
							<span class="lista"> - avizarea. </span>
							<br>
							<span class="lista"> - autorizarea. </span>
							<br>
							<span class="lista"> - acordul. </span>
							<br>
							<span class="lista"> - atestarea. </span>
							<br>
							<span class="lista"> - supravegherea pieței, controlul, asistența tehnică de specialitate. </span>
							<br>
							<span class="lista"> - informarea preventivă a autorităților, organismelor, factorilor implicați și a populației, precum și pregătirea acestora pentru situații de urgență. </span>
							<br>
							<span class="lista"> - coordonarea serviciilor voluntare, publice și private, pentru situații de urgență. </span>
							<br>
							<span class="lista"> - auditul de supraveghere a persoanelor fizice și juridice atestate. </span>
							<br>
							<span class="lista"> - constatarea și sancționarea încălcărilor prevederilor legale. </span>
						</p>
					</article>
				</div>
			</div>

		<!-- Footer -->

		<footer> 
			<h1><u>©Tehnologii Web</u></h1>
		</footer>

</body>
</html>