<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="utf-8" content="width=device-width, initial-scale=1">
	<title>CriC</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
<!--    <script src="../scripts/search-autocomplete.js" type="text/javascript"></script>-->
    <script src="../scripts/slide-show.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    
    
</head>
<body>
    
     <div class="topnav">
            <a class="active" href="../templates/index.html">Acasa</a>
            <a href="../templates/inundatii.html">Inundatii</a>
            <a href="../templates/cutremure.html">Cutremure</a>
            <a href="../templates/incendii.html">Incendii</a>
            <a href="../templates/harta.html">Harta</a>
            <a href="../templates/adauga.html" class="button" style="color: white;font-size: 15px;width: 170px;margin-left: 5px;">+Adauga Eveniment</a>
         
            <form id="searchBtn" class="top-form" action="../templates/search-map.html" method="GET">
                <input id="textSearch" class="search" type="text" name="city" placeholder="Cauta Oras..." required >
                <input class="button-top" type="submit" value="Cauta">
                <script src="../scripts/search-autocomplete.js" defer></script>

        
            </form>
        </div>
    
<div class="main">
    
<!--Imagine sus -->
<div class="top">
        <img src="../images/top-image.jpg" alt="Pamantul" class="responsive">
</div>
    
<header>
    
    <h1>Ultimele Noutati</h1>
    
</header>

 <div class="sectiune_text">
     <br>
     <div class="articol">
         <article class="mySlides">
            <h6 id="autor">Autor:<br>Date:</h6>
             
             <h3>Padure</h3>
             <h4 style="padding: 0; font-size: 10px;">Oras:</h4>
         <hr>
             <br>
            <img src="../images/padure.jpg" alt="padure">

             <p>
            Lorem ipsum dolor sit amet, id tamquam persius prompta eam, sint scriptorem ad vix. Eu dicunt utroque facilisis eam, vis enim epicurei voluptatibus eu. Ornatus iracundia quo in. In ceteros forensibus necessitatibus mei, duo ad periculis molestiae persequeris. <br> <br>
             
            Vim ut verear phaedrum repudiandae, ei tation partem nominavi per. Usu iudico nostro accusam at, case veniam reprimique cu mei, cum ad adipisci adolescens. Quo ei porro graeco nostro, cum nulla deleniti patrioque ne. Ut officiis sapientem dissentiet eos, vel ea graeco alienum corpora, et quas vitae appareat nec. Intellegebat deterruisset consectetuer eam in. <br> <br>
        
            Falli graece prompta an his, sed eligendi indoctum at. Eam oportere maluisset delicatissimi te. Sit cu elitr scripta vulputate. Sed ei dicant soleat essent. Ne mei munere animal numquam. Eu case graece everti mea. <br> <br>

            Mel putent qualisque accommodare in, summo oporteat efficiendi eam ut. Audiam argumentum eum et, vide convenire accusamus te vim, ad vix hinc liber. Tibique aliquando sit ea, partem meliore no per, vix at explicari expetendis complectitur. Ei has reque consectetuer consequuntur. Periculis adipiscing efficiantur mei an, nec zril timeam latine ut, ne wisi omittam sed. <br> <br>

            Mei ex eius consectetuer, iriure maluisset ne vel. Dicat sapientem vel in. Cu mei scripta invenire, enim delicata qui ei. Duo diam temporibus ei, eos atqui officiis cu, falli dolores suscipiantur ius ex. <br>
             </p>
             
         </article>
            
        
         
         <article class="mySlides" style="display: none;">
             
             <h3>Lac</h3>
         <hr>
             <br>
             
            <img src="../images/lac.jpg" alt="lac"> 
             <p>
            Aici avem exemplu de un aparat de cafea  <br> <br>
             
            Vim ut verear phaedrum repudiandae, ei tation partem nominavi per. Usu iudico nostro accusam at, case veniam reprimique cu mei, cum ad adipisci adolescens. Quo ei porro graeco nostro, cum nulla deleniti patrioque ne. Ut officiis sapientem dissentiet eos, vel ea graeco alienum corpora, et quas vitae appareat nec. Intellegebat deterruisset consectetuer eam in. <br> <br>
        
            Falli graece prompta an his, sed eligendi indoctum at. Eam oportere maluisset delicatissimi te. Sit cu elitr scripta vulputate. Sed ei dicant soleat essent. Ne mei munere animal numquam. Eu case graece everti mea. <br> <br>

            Mel putent qualisque accommodare in, summo oporteat efficiendi eam ut. Audiam argumentum eum et, vide convenire accusamus te vim, ad vix hinc liber. Tibique aliquando sit ea, partem meliore no per, vix at explicari expetendis complectitur. Ei has reque consectetuer consequuntur. Periculis adipiscing efficiantur mei an, nec zril timeam latine ut, ne wisi omittam sed. <br> <br>

            Mei ex eius consectetuer, iriure maluisset ne vel. Dicat sapientem vel in. Cu mei scripta invenire, enim delicata qui ei. Duo diam temporibus ei, eos atqui officiis cu, falli dolores suscipiantur ius ex. <br>
            
             </p>
         </article>
            
         <button class="test-btn black-btn left-display-btn" onclick="plusDivs(-1)">&#10094;</button>
         
         <button class="test-btn black-btn right-display-btn" onclick="plusDivs(1)">&#10095;</button>
         
     </div>
     
     <form style="border: 1px solid #ccc" class="signup-form" method="POST" action="../signup.php">
         <div class="containter">
            <p>FII la curent!</p>
            <hr>
         
         <input class="signup-input" type="text" placeholder="Email" name="email" required>
        
             
         <input class="signup-input" type="text" placeholder="Oras" name="oras" required>
    
         
         <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
             
             <button type="submit" class="adaugabtn" name="sign-up">Sign Up</button>
         
         </div>
         </div>
     </form> 
    <br>
    </div>

 	<footer> 
 		<h1><u>&copy;Tehnologii Web</u></h1>
 	</footer>

    </div>
    
    
    <script>
        
        function getGeometry() {
            
            var place = autocomplete.getPlace();
            
            var lat = place.geometry.location.lat();
            var lng = place.geometry.location.lng();
        
        }
      
    </script>
    
    


    
</body>
</html>