* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: url(../images/rain-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto ;
    background-color: #A9CADF;
    
}

.bg {
    background-image: url(../images/rain-bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

form {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    background-color: white;
}

input [type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input [type=text]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    margin: 0px 20px 25px 20px;
}

.input {
    
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    
}

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    border: 0;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn, .adaugabtn {
    width: 60%;
}

.container {
    text-align: center;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px){
    
    .cancelbtn, .adaugabtn {
        width: 100%;
    }
    
}

.container h1 {
    padding: 12px 12px 0px 12px;
}

